# AWS
boto3

# Azure
azure-identity
azure-mgmt-containerservice
azure-mgmt-kubernetesconfiguration
azure-mgmt-resource
azure-mgmt-storage
azure-storage-blob

# GCP
google-cloud-container
google-api-python-client
google-cloud-compute

# K8S Basic
kubernetes